<div class="iflw-atc-icon">
  {% assign iflwtype = product.type %}
  {% case iflwtype %}
    {% when 'Full Metal CasiOak Watches',
      'Resin Bluetooth CasiOak Watches',
      'Resin CasiOak Watches',
      'Steel CasiOak Watches',
      'Tissot Watches',
      'Oris Watches',
      'Citizen Watches',
      'Timex Watches',
      'Seiko Watches',
      'Bulova Watches'
    %}
      {% if product.tags contains 'Bespoke' %}
        <div class="iflw-atc-icon-bespoke">
          {% render 'ecom-ifl-icons-bespoke-block' %}
        </div>
      {% elsif product.tags contains 'Customized' %}
        <div class="iflw-atc-icon-customized">
          {% render 'ecom-ifl-icons-customized-block' %}
        </div>
      {% else %}
        <div class="iflw-atc-icon-hand-painted">
          {% render 'ecom-ifl-icons-hand-painted-block' %}
        </div>
      {% endif %}
    {% when 'Watch Straps' %}
      <div class="iflw-atc-icon-strap">
        {% render 'ecom-ifl-icons-straps-block' %}
      </div>
    {% when 'Original Tissot Watches' %}
      <div class="iflw-atc-icon-swiss">
        {% render 'ecom-ifl-icons-swiss-made-block' %}
      </div>
    {% when 'Original Citizen Watches', 'Original Seiko Watches' %}
      <div class="iflw-atc-icon-original">
        {% render 'ecom-ifl-icons-original-watches-block' %}
      </div>
    {% when 'Wall Art', 'Carbonfibre Art', 'Clocks', 'Watch Sculptures' %}
      <div class="iflw-atc-icon-art">
        {% render 'ecom-ifl-icons-art-block' %}
      </div>
    {% when 'Micromilspec Watches' %}
      <div class="iflw-atc-icon-prof-grade">
        {% render 'ecom-ifl-icons-prof-grade-block' %}
      </div>
    {% else %}
      <div class="iflw-atc-icon-handmade">
        {% render 'ecom-ifl-icons-handmade-block' %}
      </div>
  {% endcase %}
</div>
