{% if product.metafields.custom.attributes != blank %}
  {% assign attributes = product.metafields.custom.attributes %}
  <ul style="list-style-type: none; padding-left: 0;">

  <script>
    function renderAttr(obj) {
      let myvalue = "";
      for (const [key, value] of Object.entries(obj)) {
        let capitalized = `${key}`.charAt(0).toUpperCase() + `${key}`.slice(1).replaceAll('_', ' ');
        myvalue += '<li><span style="font-weight: 700;">' + capitalized + ':</span> ' + `${value}` + '</li>';
      }
      return myvalue;
    }

    document.write(renderAttr({{ attributes }}));
  </script>
  </ul>
{% endif %}