{% if product.metafields.custom.watch_disclaimer == true or page.metafields.custom.watch_disclaimer == true %}
<div class="iflw-wrapper" style="padding: 25px; font-size: 12px; color: #bfbfbf; line-height: 1.2em;">
<hr style="height:1px;background-color: #ebebeb; max-width: 100%;">
  <small>
            IFL Watches is an independent brand offering bespoke luxury products and customizations. All watch customizations are commissioned by our
                clients, for personal use only. We do not manufacture watches. Nor are we affiliated with, or authorized by, the original manufacturers of the watches, unless stated otherwise. Our customizations are conducted in an
                entirely independent capacity. Any brands mentioned on our website, e-mails, marketing campaigns or social media are strictly for the purpose of reference only. All manufacture warranties are void when ordering a
                customized timepiece from IFL Watches. IFL offers an independent warranty for a minimum of 2 years on all our Customized Products.</small>
</div>
{% endif %}

