/* Publish by EComposer at 2024-06-18 11:08:31*//**ECOM-INSERT-CSS**/
                .ecom-column {
                    position: relative;
                    /* display: flex; responsive generate display block */
                }
                .ecom-column>.core__column--wrapper {
                    align-items: flex-start; /* fix tam de mn lam layout */
                    display: flex;
                }
                .ecom-column:hover {
                    z-index: 1;
                }

                .ecom-column__overlay .ecom-overlay {
                    pointer-events: none;
                }

                .ecom-column__overlay > .ecom-overlay, .ecom-column__overlay .ecom-video-background-youtube {
                    position: absolute;
                    inset: 0;
                }

                @media only screen and (min-width: 768px) {
                    .ecom-column>.core__column--wrapper {
                        height: 100%;
                    }
                }
                /*.ecom-parallax-background {
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    transition: background-position 0.2s linear;
                    background-repeat: inherit !important;
                }*/
                .ecom-use-parallax {
                    background: unset !important;
                }
                .ecom-parallax-background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    overflow: hidden;
                }
                .ecom-parallax-background img {
                    object-fit: cover;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,0);
                    pointer-events: none;
                }
                .ecom-row {
                    width: 100%;
                    position: relative;
                }
                .ecom-video-background-youtube-wrapper {
                    overflow: hidden
                }
                .ecom-section__overlay > .ecom-overlay, .ecom-section__overlay .ecom-video-background-youtube, .ecom-video-background-youtube-wrapper{
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                }
                .ecom-row:not(.ecom-section) {
                    float: left;
                }
                .ecom-row.ecom-section {
                    clear: both;
                }
                .ecom-row:hover {
                    z-index: 1;
                }
                .ecom-row>div.core__row--columns.core__row--full {
                    max-width: 100%;
                }
                @media (min-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { height: 300%; top: -100%; }
                }
                @media (max-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { width: 300%; left: -100%; }
                }
                @supports not (aspect-ratio: 16 / 9) {
                    .ecom-video-background-youtube:before {
                        display: block;
                        content: "";
                        width: 100%;
                        padding-top: 56.25%;
                    }
                    .ecom-video-background-youtube .ecom-video-background {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    .ecom-video-background {
                        -o-object-fit: unset !important;
                        object-fit: unset !important;
                    }
                }
                @media (max-width: 767px) {
                    .ecom-section__video-bg .ecom-video-background-youtube {
                        display: none;
                    }
                }
                
                .ecom__text--dropcap:first-letter {
                    font-size: 40px;
                    color: #2bcf19;
                    display:inline-flex;
                    border-style: solid;
                    border-width: 1px;
                    border-color: transparent;
                    float:left;
                    line-height:1;
                }
                .ecom__text--dropcap.has-drop-cap-view-default:first-letter {
                    border:none;
                }
                body[ecom-loaded] .ecom-sections .element__text a {
                    cursor: auto;
                }
                .text-content.ecom-html {
                    overflow: hidden;
                    position: relative;
                }

                .ecom-text--is-mark::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 150px;
                    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
                    pointer-events: none;
                }

                .ecom-text_view-more-btn,
                .ecom-text_view-less-btn {
                    display: flex;
                    background: none;
                    outline: none;
                    border: none;
                    align-items: center;
                }

                .ecom__element--button-icon {
                    display: flex;
                    align-items: center;
                }

                .ecom-text_view-more-btn svg, .ecom-text_view-less-btn svg {
                    width: 16px;
                    color: #fff;
                }
            
.ecom-core.ecom-dng8rkec19{width: 100%;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-dng8rkec19{width: 100%;}}.ecom-core.ecom-sahhnzkj4k .ecom-text--more-actions button ,.ecom-core.ecom-sahhnzkj4k .ecom-text--less-actions button{gap: 6px;}.ecom-core.ecom-sahhnzkj4k .text-content,.ecom-core.ecom-sahhnzkj4k  .text-content a,.ecom-core.ecom-sahhnzkj4k  .text-content p,.ecom-core.ecom-sahhnzkj4k  .text-content span{text-align: left;}.ecom-core.ecom-sahhnzkj4k .ecom-text_view-more-btn{justify-content: flex-start;text-decoration: underline;font-size: none;color: #ffffff;background-color: #0691b1;border-radius: 2px;padding-top: 5px;padding-bottom: 5px;}.ecom-core.ecom-sahhnzkj4k .ecom-text_view-more-btn:hover{background-color: rgba(6, 145, 177, 0.69);}.ecom-core.ecom-sahhnzkj4k .ecom-text_view-less-btn{text-decoration: underline;color: #ffffff;background-color: #0691b1;border-radius: 2px;padding-top: 5px;padding-bottom: 5px;}.ecom-core.ecom-sahhnzkj4k .ecom-text_view-less-btn:hover{background-color: rgba(6, 145, 177, 0.69);}.ecom-core.ecom-7jdoskrrye8{text-align: left;}.ecom-core.ecom-7jdoskrrye8{}     .ecom-core.ecom-7jdoskrrye8 p,.ecom-core.ecom-7jdoskrrye8 h2,.ecom-core.ecom-7jdoskrrye8 h3,.ecom-core.ecom-7jdoskrrye8 ul,.ecom-core.ecom-7jdoskrrye8 li{
        margin-top: 10px; 
        margin-bottom: 10px; 
    }

    .ecom-core.ecom-7jdoskrrye8 h2{
        color: #01416F; 
        font-weight: 800; 
    }

    .ecom-core.ecom-7jdoskrrye8 h3{
        font-style: oblique; 
        color: #01416F; 
    }

    .ecom-core.ecom-7jdoskrrye8 ul{
        list-style-type: disc; 
        margin-left: 20px; 
    }

    .ecom-core.ecom-7jdoskrrye8 ol{
        list-style-type: decimal; 
        margin-left: 20px; 
    }

    .ecom-core.ecom-7jdoskrrye8 ul ul{
        list-style-type: circle; 
    }

    .ecom-core.ecom-7jdoskrrye8 a{
    color: #40bec1; 
}


 @media screen and (max-width: 48em) {

        .ecom-core.ecom-7jdoskrrye8 h2{
            font-size: 18px; 
            
        }

        .ecom-core.ecom-7jdoskrrye8 h3{
            font-size: 16px; 
            
        }
    }.ecom-core.ecom-8u5agkeha1m>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}

